/**************************
* MARK: Fonts
**************************/

@font-face {
  font-family: "Comic Relief";
  src: url(../fonts/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MeieScript";
  src: url(../type/MeieScript-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@keyframes move{
  from {
    background-position: 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

@keyframes ring {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/**************************
* MARK: Custom properties
**************************/

html {
  color-scheme: light dark;

  --color-cyan: light-dark(#263B2E,#526B58);
  --color-cy: light-dark(#263B2E,#19281f);
  --color-magenta: light-dark(#EDE6D8,#263B2E);
  --color-dark: #EDE6D8;
  --color-light: #333333;
  --color-BO: light-dark(#EDE6D8,#19281f);
  --color-gradients: light-dark(#6daa8a, #4b7e64);
  --color-gradients2: light-dark(#cffacd,#79ab82);
  --color-gradients3: light-dark(#649f74, #3e6f4c);
  --color-gradients4: light-dark(#bfddc2, #bfddc2);
  --button-cookies: light-dark(#D3D3D3);
  --button-fade: light-dark(#66a273,#EDE6D8);
  --a-hover: #db6588;
  --a-focus: #e39bae;
  --a-focus2: deeppink;
  --CM-middel: #82b988;
  --CM-licht: #b1d5b5;
  --G-login: lightgreen;
  --R-login: lightcoral;
  --DG-login: rgba(0, 128, 0, 0.562);
  --DR-login:  rgba(255, 0, 0, 0.559);


  --color-background: light-dark(var(--color-light), var(--color-dark));
  --color-text: light-dark(var(--color-light),var(--color-dark));
  --accent-color: #EDE6D8;
  --border-width: 0.1em;

  --whitespace: 2em;
  --whitespace-s: 1em;
  --whitespace-xs: 0.5em;

  --step-00: clamp(0.8rem, 0.850rem + 0.100vw, 0.60rem);
  --step-0: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  --step-1: clamp(1.2rem, 0.975rem + 1vw, 1.875rem);
  --step-2: clamp(1.44rem, 0.9825rem + 2.0333vw, 2.8125rem);
  --step-3: clamp(1.728rem, 0.8978rem + 3.69vw, 4.2188rem);
  --step-4: clamp(2.0736rem, 0.6554rem + 6.303vw, 6.3281rem);
  --step-5: clamp(2.4883rem, 0.1537rem + 10.3761vw, 9.4922rem);
}

/**************************
* MARK: Algemene Styling
**************************/

*,
*::after,
*::before {
  box-sizing: border-box;
}

img,
svg,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

article:first-of-type img:first-of-type {
  border-radius: 4em;
  max-width: 17em;
}

article:nth-of-type(3) img:first-of-type {
   grid-area:"main";
   max-width: 16em;
   margin: var(--whitespace);
}

article:nth-of-type(4) {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--accent-color);
  text-decoration:none;
}

li {
  color: var(--accent-color);
  list-style: none;
}

body {
  font-family:
    "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
  color: var(--color-text);

  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";

  @media (width > 60em) {
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-areas:
      "header header header"
      "main main main"
      "footer footer footer";

  }
}

article {
  max-width: 30em;
}

button,
summary {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font: inherit;
}

h1 {
  font-size: var(--step-3);
  color: var(--color-BO);
  margin-left: 1em;
}

h2 {
  font-size: var(--step-2);
}

h3 {
  font-size: var(--step-1);
}

h4 {
  font-size: var(--step-0);
}

a:hover {
  color: var(--a-hover);
}

a:focus {
  color: var(--a-focus);
  outline: 0.2em dashed var(--a-focus2);
}

label {
  display: grid;
}

form {
  max-width: 50em;
}

label:has([type="checkbox"]) {
  display: flex;
  align-items: baseline;
}

/**************************
* MARK: Header
**************************/

header {
  background: var(--color-cyan);
  grid-area: header;
  padding: var(--whitespace-xs);
  display:flex;
  justify-content: space-between;
}

header h1 mark {
  font-family: MeieScript;
  background-color: var(--color-cyan);
  color: var(--color-magenta)
}

header ul {
grid-area: header;
gap: 3em;
margin: var(--whitespace);
padding: var(--whitespace);
}

/**************************
* MARK: Footer
**************************/

footer {
    background: radial-gradient(
    var(--color-gradients),
    var(--color-gradients2),
    var(--color-gradients3),
    var(--color-gradients4)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background-size: 300% 400%;
  animation: move 10s alternate infinite;
  grid-area: footer;
  padding: var(--whitespace);
}

footer button{
  background-color: var(--button-cookies);
  color: var(--color-text);
  font-size: var(--step-1);
  border-radius: 0.3em;
  position: relative;
  border: none;
}

footer button::after {
  content: "";
  color: var(--button-fade);
  position: absolute;
  inset: -3px;
  border: 2px solid var(--button-fade);
  border-radius: 0.3em;
  animation: ring 1.5s infinite;
}

#cookieModal {
  grid-area:"footer";
 background-color: var(--color-cy);
 color: var(--color-dark);
 max-width: 42em;
 border-radius: 1em;
 padding: 1.5em;
 box-shadow: 0 1em 1em var(--color-light);

}

#cookieModal section:nth-of-type(2){
  background-color: var(--CM-licht);
      color: var(--color-light);
      font-size: var(--step-00);
      padding: 0.1rem 1.25rem 0.5rem 1.5rem;
      border-radius: 1rem;
      border-left: 6px solid var(--CM-middel);
}


#cookieModal section:nth-of-type(3){
  background-color: var(--CM-licht);
      color: var(--color-light);
      font-size: var(--step-00);
      padding: 1.25rem 1.25rem 0.5rem 1.5rem;
      border-radius: 1rem;
      border-left: 6px solid var(--CM-middel);
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
}

#cookieModal section:nth-of-type(4){
  background-color: var(--CM-licht);
      color: var(--color-light);
      font-size: var(--step-00);
      padding: 1.25rem 1.25rem 0.5rem 1.5rem;
      border-radius: 1rem;
      border-left: 6px solid var(--CM-middel);
      margin-bottom: 1.5rem;
}

#cookieModal button:nth-of-type(1){
  background-color: var(--CM-middel);
  font-size: var(--step-0);
  color: var(--color-light);
  padding: 0.7rem 1.25rem 0.5rem 1.0rem;
  border-radius: 0.5rem;
  border-left: 6px solid var(--CM-middel);
  margin-bottom: 1.5rem;
  border:none;
  margin-right: 0.5em;

}

#cookieModal button:nth-of-type(2){
  background-color: var(--CM-middel);
  font-size: var(--step-0);
  color: var(--color-light);
  padding: 0.7rem 1.25rem 0.5rem 1.0rem;
  border-radius: 0.5rem;
  border-left: 6px solid var(--CM-middel);
  margin-bottom: 1.5rem;
  border:none;
}


input:user-valid {
  border: 2px solid var(--DG-login);
  background: var(--G-login);
}
input:user-invalid {
  border: 2px solid var(--DR-login);
  background: var(--R-login);
}



/**************************
* MARK: Main
**************************/

main {
  background: var(--color-magenta);
  grid-area: main;
  padding: var(--whitespace);

  display: grid;
  gap: var(--whitespace);
  grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
}

.skip-link {
  position: absolute;
  background: var(--color-magenta);
  color: var(--color-text);
  padding: 8px 8px;
  z-index: 1000;
}

/**************************
* MARK: Section ...
**************************/
